@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
  font-family: Raleway, sans-serif;
}

@keyframes marquee-100 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-250%);
  }
}

@keyframes marquee-200 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-250%);
  }
}

@keyframes marquee-300 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-300%);
  }
}

/* Base animation for mobile (default) */
.animate-marquee {
  animation: marquee-100 20s linear infinite;
}

/* Medium (md) screens: Apply marquee-200 */
@media (min-width: 768px) {
  .animate-marquee {
    animation: marquee-200 50s linear infinite;
  }
}

/* Large (lg) screens: Apply marquee-200 */
@media (min-width: 1024px) {
  .animate-marquee {
    animation: marquee-200 80s linear infinite;
  }
}

/* XL (2xl) screens: Apply marquee-300 */
@media (min-width: 1920px) {
  .animate-marquee {
    animation: marquee-300 200s linear infinite;
  }
}
